.places {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: calc((4 / (1024 - 768)) * (min(max(100vw, 768px), 1024px) - 768px) + 88px);
    padding-left: calc((24 / (1024 - 768)) * (min(max(100vw, 768px), 1024px) - 768px) + 24px);
    padding-right: calc((24 / (1024 - 768)) * (min(max(100vw, 768px), 1024px) - 768px) + 24px);
    padding-bottom: calc((2 / (1024 - 768)) * (min(max(100vw, 768px), 1024px) - 768px) + 90px);
}

@media screen and (max-width: 767px) {
    .places {
        grid-template-columns: 1fr;
        padding-top: calc((24 / (768 - 320)) * (min(max(100vw, 320px), 768px) - 320px) + 64px);
        padding-left: calc((24 / (768 - 320)) * (min(max(100vw, 320px), 768px) - 320px) + 0px);
        padding-right: calc((24 / (768 - 320)) * (min(max(100vw, 320px), 768px) - 320px) + 0px);
        padding-bottom: calc((24 / (768 - 320)) * (min(max(100vw, 320px), 768px) - 320px) + 66px);
    }
}