.lead__image {
    width: 100%;
    max-width: 984px;
    object-fit: contain;
    padding: 64px 0 0;
    line-height: 0;
}

@media screen and (max-width: 1280px) {
    .lead__image {
        padding-top: calc((8 / (1280 - 1024)) * (min(max(100vw, 1024px), 1280px) - 1024px) + 56px);
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        padding-top: calc((16 / (768 - 320)) * (min(max(100vw, 320px), 768px) - 320px) + 40px);
    }
}