.intro {
    padding-top: calc((4 / (1024 - 768)) * (min(max(100vw, 768px), 1024px) - 768px) + 88px);
    padding-right: calc((24 / (1024 - 768)) * (min(max(100vw, 768px), 1024px) - 768px) + 24px);
    padding-left: calc((24 / (1024 - 768)) * (min(max(100vw, 768px), 1024px) - 768px) + 24px);
    padding-bottom: calc((4 / (1024 - 768)) * (min(max(100vw, 768px), 1024px) - 768px) + 88px);
    width: 100%;
    max-width: 1082px;
    box-sizing: border-box;

    /*border: yellow solid 1px;*/
}

@media screen and (max-width: 768px) {
    .intro {
        padding-top: calc((24 / (768 - 320)) * (min(max(100vw, 320px), 768px) - 320px) + 64px);
        padding-right: calc((8 / (768 - 320)) * (min(max(100vw, 320px), 768px) - 320px) + 16px);
        padding-left: calc((8 / (768 - 320)) * (min(max(100vw, 320px), 768px) - 320px) + 16px);
        padding-bottom: calc((24 / (768 - 320)) * (min(max(100vw, 320px), 768px) - 320px) + 64px);
    }
}