.cover {
    width: 100%;
    z-index: 0;
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: calc((448 / (768 - 320)) * (min(max(100vw, 320px), 768px) - 320px) + 320px);
    }
}