.places__website {
    display: flex;
    flex-direction: column;
    justify-content: end;

    margin: 0;
    padding: 0;
    /*grid-column: 2/3;*/
    /*grid-row: 1/2;*/

    /*border: red solid 1px;*/
}

@media screen and (max-width: 768px) {
    .places__website {
        padding: 0 calc((768px - min(max(100vw, 320px), 768px)) / (768 - 320) * 16) 0;
    }
}